html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width:100%;
  /*  border:1px solid red;*/
  
}

.center {
  position:relative;
  margin-right:auto;
  margin-left:auto;
  display:block;
}

body {
  margin: 0;
}

a {
  text-decoration:none;
  color:black;
}

/*clear fix*/
.clearfix::after {
  content:" ";
  display:table;
  clear:both;
  
}

#hero {
  position:relative;
  display:block;
  width:100%;
  height:700px;
  margin-top:0;
  /*  border:1px solid red;*/
}

#hero-image {
  position:absolute;
  top:0;
  padding-top:1%;
  display:block;
  width:100%;
  height:700px;
  background:url("hero.png");
  background-size:cover;
  background-position:50% 50%;
  background-color:red;
 
}
/*input[type=radio]{
    display:none
}*/
#wrapper {
  padding-top:5%;
}


#question1 {
  display:block;
}
#question2,
#question3,
#question4 {
  display:none;
}


h1 {
  position:relative;
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight:200;
  line-height:65px;
  
}

h1.main {
  line-height:0px;
  
}

h2 {
  position:relative;
  color:black;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 122px;
  font-weight:800;
  line-height:0px;
}

button {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  display:block;
  padding:1%;
  color:white;
  border:1px solid;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight:400;
  background-color:transparent;
}

button:hover {
  background-color:black;
}

footer {
  position:relative;
  color:#A5A4A4;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight:100;
  padding-top:2%;
  
}

b{
  color:black;
}

#question-wrapper {
  position:relative;
  width:100%;
}
#q1o1,
#q1o2,
#q1o3,
#q1o4 {
  padding:3%;
  padding-top:4%;
  position:relative;
  display:block;
  float:left;
  width:22%;
  margin:1%;
  border:1px solid white;
  height:300px;
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight:100;
}

#q1o1:hover,
#q1o2:hover,
#q1o3:hover,
#q1o4:hover {
  border-color:black;
}
  #q2o1,
  #q2o2,
  #q2o3,
  #q2o4 {
    padding:3%;
    padding-top:4%;
    position:relative;
    display:block;
    float:left;
    width:22%;
    margin:1%;
    border:1px solid white;
    height:300px;
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight:100;
  }

  #q2o1:hover,
  #q2o2:hover,
  #q2o3:hover,
  #q2o4:hover {
    border-color:black;

  }
  
  #q3o1,
  #q3o2,
  #q3o3,
  #q3o4 {
    padding:3%;
    padding-top:4%;
    position:relative;
    display:block;
    float:left;
    width:22%;
    margin:1%;
    border:1px solid white;
    height:300px;
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight:100;
  }

  #q3o1:hover,
  #q3o2:hover,
  #q3o3:hover,
  #q3o4:hover {
    border-color:black;

  }
  
  #q4o1,
  #q4o2,
  #q4o3,
  #q4o4 {
    padding:3%;
    padding-top:4%;
    position:relative;
    display:block;
    float:left;
    width:22%;
    margin:1%;
    border:1px solid white;
    height:300px;
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight:100;
  }

  #q4o1:hover,
  #q4o2:hover,
  #q4o3:hover,
  #q4o4:hover {
    border-color:black;

  }

